<h1 class="heading">Edit your review!</h1><br/>

<div class="col-sm-12 text-center bgbox">  <!-- align text center -->
  <form method="POST" action="/update_post">
		<label>Review Title:<br><input type="text" name="title" placeholder="<%= @post.title %>"></label><br><br>
    <label>Artist:<br><input type="text" name="artist" placeholder="<%= @post.artist %>"></label><br><br>
    <label>Event Location:<br><input type="text" name="location" placeholder="<%= @post.location %>"></label><br><br>
    <label>Rock or Flop Review:</label><br>
  	<textarea maxlength="150" cols="70" rows="10" name="message" placeholder="<%= @post.content %>"></textarea><br>
  	<strong><span id="message-remaining"></span></strong><br>
  	<input class="btn btn-default" type="submit">

<center><a href="/delete_post"><button type="button" class="btn btn-danger navbar-btn">Delete Post</button></a>
  </form>
</div>
