<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 homediv1">
      <h1 class="heading">Welcome to Rocks or Flops!</h1><br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 homediv1">
      <center><h3>Your primary source for real reviews by real music fans.</h3><br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-12 homediv1">
      <h4>In lieu of the Mariah Carey debacle that took place on New Year's Eve, real fans now have a platform to share their live experiences. In the current musical era, most artists make their money based off of ticket sales rather than record sales. This allows the people to determine whats popular, instead of the local radio stations.</h4><br>
      <h4>Now you, the fan, can share and promote your favorite bands based on what you have experienced, as well as the power to alert others of those that flop. If you have recently been to an incredible performance that left you speechless, or been to an event in which the artists completly bombed, we want to know. Please Sign-up or Sign-In, and let your voice be heard!!!!</h4>
    </div>
  </div>
</div>
