<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Sinatra MicroBlog</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
</head>

<body class="main">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/post">Rocks or Flops</a>

	      <% if @user %>
	      <a href="/post"><button type="button" class="btn btn-default navbar-btn pull-left">Blogs</button></a>
	      <a href="/edit_acc"><button type="button" class="btn btn-default navbar-btn pull-left">Edit Profile</button></a>
	      <% end %>
	    </div>

  	  	<% if @user %>
  	    <a href="/signout"><button type="button" class="btn btn-default navbar-btn pull-right">Sign out</button></a>
  	    <% else %>
  	    <a href="/signin"><button type="button" class="btn btn-default navbar-btn pull-right">Sign in</button></a>
  	    <a href="/signup"><button type="button" class="btn btn-default navbar-btn pull-right">Sign up</button></a>
  	  	<% end %>
  	    <p class="navbar-text pull-right"><%= "Welcome Back, #{@user.username.capitalize} !" if @user %> </p>
	  </div>
	</nav>

</body>

<script type="text/javascript" src="/main.js"></script>

</html>
<%= yield %>

<center><div>
<footer>&copy; Rock or Flop 2017</footer>
<footer>Copyright (c) 2016 Copyright Holder All Rights Reserved.</footer>
</div>
