<h1>New User: Sign Up</h1>

<form method="POST" action="/create-user">
  <label for="fname">First Name:</label><br>
  <input type="text" name="fname">
  <br><br>

  <label for="lname">Last Name:</label><br>
  <input type="text" name="lname">
  <br><br>

  <label for="age">Age:</label><br>
  <input type="text" name="age">
  <br><br>

  <label for="location">Location(city, state):</label><br>
  <input type="text" name="location">
  <br><br>

  <label for="username">Username:</label><br>
  <input type="text" name="username">
  <br><br>

  <label for="email">Email:</label><br>
  <input type="text" name="email">
  <br><br>

  <label for="password">Password:</label><br>
  <input type="text" name="password">


  <br><br>

  <input type="submit">
</form>
