<h1 class="heading">Blog Time</h1><br>

<h2 class="heading">All Blog Feeds</h2>

<ol class="text-center">  <!-- align text center -->
	<% @posts.each do |post| %>
		<a href="/post/<%= post.id %>"><li><%= post.title %><br><a class="post" href="/user/<%= post.user.id if post.user %>"><%= post.user.username if post.user %></a></li></a>
	<% end %>
</ol><br>
<a href="/newpost"><input class="btn btn-warning" type="submit" value="Start A New Post"></a><br><br>
