<h1 class="heading">Welcome to Rocks or Flops!</h1><br>

<div class="col-sm-12 text-center"> <!-- align text center -->
	<h1 class="heading">Login to your account</h1>

<div class="bgbox">
	<form method="POST" action="/signin">
    <label>Username</label><br><input name="username" /><br><br>
    <label>Password</label><br><input type="password" name="password"><br><br>
    <input class="btn btn-info" type="submit" value="Login">
	</form>
</div>

	<br>
</div>
