<h1 class="heading">Create An Account To Start Blogging</h1><br>

<div class="col-sm-12 text-center">  <!-- align text center -->
  <h1 class="heading">Make an account</h1>

<div class="bgbox">
  <form method="POST" action="/signup">
      <label>First Name</label><br/><input type="text" name="fname" placeholder=""><br>
      <label>Last Name</label><br/><input name="lname" placeholder=""><br>
      <label>Location</label><br/><input type="user_location" name="user_location" placeholder="Location"><br>
      <label>Favorite Genre</label><br><input type="text" name="fav_genre" placeholder="Genre"><br>
      <label>Favorite Artist 1</label><br><input type="text" name="fav_artist1" placeholder="Artist 1"><br>
      <label>Favorite Artist 2</label><br><input type="text" name="fav_artist2" placeholder="Artist 2"><br>
      <label>Favorite Artist 3</label><br><input type="text" name="fav_artist3" placeholder="Artist 3"><br>
      <label>E-mail</label><br/><input type="email" name="email"><br>
      <label>Username</label><br/><input name="username"><br>
      <label>Password</label><br/><input type="password" name="password"><br><br>
      <input class="btn btn-success" type="submit" value="Create">
  </form>
</div><br>
</div>
