body {
  background-color: lightgray;
  /*background-image: url("giphy.gif");*/
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  /*color: black;*/
}


.navbar {
  background-color: lightgray;
}


h1 {
  text-align: center;

}

.bgbox {
  /*color: lightgray;*/
  color: brown;
}

.info {
  color: brown;
}

.values {
  color: white;
}
