body {
  background-color: lightgray;
  background-image: url("giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}

.navbar {
  background-color: red;
}
h1 {
  text-align: center;
}
